<html>

<head>
    <meta charset="UTF-8">
    <title>Pft templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/app.css">
    <script src="../assets/js/app.js"></script>
</head>

<body>

    <div class="row" style="margin-top: 2em;">
        <div class="small-12 medium-6 medium-centered columns">

            <div style="display: flex; justify-content: space-between;">
                <div><h2 class="first">Website templates</h2></div>
                <div>
                    <img src="../themes/pft/assets/img/list-bullet.png" style="width: 50px;">
                </div>
            </div>

            <ol style="margin-top: 2em; margin-bottom: 2em;">
                <li>
                    <a href="home.php">Homepage</a>
                </li>
            </ol>

            <hr>

            <div style="font-size: 0.8em; color: grey;">
                Lash update: 16.8.2018
            </div>

        </div>
    </div>

</body>

</html>
